.about {
    padding: 20px 0 35px;
}

.about__title {
    margin-bottom: 61px;
}

.about__subtitle {
    
    margin-bottom: 20px;
}
.about__slider {
    display: flex;
    flex-flow: column;
    row-gap: 36px;
}

