.cards {
    padding: 20px 0 39px;
}

.cards__title {
    margin-bottom: 61px;
}

.cards__row {
    display: grid;
    grid-template-columns: 600px 456px;
    // grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    justify-content: space-between;
}

.cards__item-title {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.6px;
    margin-bottom: 32px;
    text-align: center;
}

.cards__sing-in {
    display: flex;
    flex-flow: column;
    row-gap: 34px;
}